body {
	font-family: Montserrat, sans-serif;
	background-image: pexels-photo-311039.jpg;


}


* {
	font-family: Roboto, sans-serif;
	font-weight: 700;
}

h1 {
	font-family: Roboto, sans-serif;
	font-size: 60px;
	color: #51453B;
	line-height: 60px;
	font-weight: 300;
	text-shadow: 4px 4px #cccccc;
}

h2 {
	font-family: Roboto, sans-serif;
	font-size: 50px;
	color: #4A4A4A;
	line-height: 29px;
}

h2:hover {
	color: #ff0000;
}

h3 {
	font-size: 28px;
	color: #4A4A4A;
	line-height: 23px;
}
 p {
 	font-family: Roboto, sans-serif;
 	font-size: 16px;
 	color: #7B7573;
 	line-height: 24px;
 	font-weight: 400;
 }

 strong {
 	font-size: 16px;
 	color: #7B7573;
 	line-height: 24px;
 }

 a {
 	font-size: 14px;
 	color: #0066ff;
 	line-height: 17px;
 }

 a:hover {
 	color: red;
 }
.padding-top {
	padding-top: 30px;
}
.padding-bottom {
	padding-bottom: 30px;
}
.margin-right {
	margin-right: 30px;
}
.padding-none {
	padding: 0;
}
.btn {
	padding: 20px;
	margin: 0;
	border-color: #00ff00;
	border-width: 2px;
	color: #262626;
}
.btn:hover {
	border-color: #00ff00;
}
.btn.delete {
	border-color: #aaaaaa;
	border-width: 2px;
	color: #aaaaaa;
}
.btn.delete:hover {
	
	color: red;
}
.glyphicon {
	margin-right: 10px;
}
.top-menu {
	padding-top: 30px;
	padding-bottom: 30px;
}
.top-menu p {
	margin-bottom: 0;
	line-height: 16px;
}
.top-menu a {
	margin-bottom: 0;
	line-height: 16px;
	font-size: 16px;
	color: #272625;
	font-weight: 700;
}
.divider {
	height: 15px;

}
.divider.blue {

	background-color: #1ad1ff;
}
.divider.green {
	background-color: #00ff00;
}
.banner.main {
	height: 150px;
	background: url("/static/top-banner.jpg");
	background-position: right;
	background-repeat: no-repeat;
	
}
.banner.menu {
	height: 150px;
	background-color: #E1E17F;
}
.banner.profile {
	height: 150px;
	background-color: #A6E8EB;
}
.banner h1 {
	margin: 45px 0;
}
 .category-list {
 	background-color: #ccf5ff;
 	padding: 20px;
}
 .category-list:hover {
 	background-color: #ffccdd;
 	padding: 20px;
}
.menu-item {
	background: #ff66ff;
	padding: 20px;
	margin: 20px;
	margin-left: -20px;
}

.creator {
	padding-right: 20px;
	margin-top: -20px;
	text-align: right;
	float:right;
}

.creator img {
	width: 100px;
	border-radius: 50%;
}
.creator figcaption {
	font-size: 14px;
	color: #7B7573;
	font-weight: 400;
	margin-top: -20px;
}
.flash {
	background-color: #98FB98;
	width:100%;
	text-decoration: none;

}

.flash li {
	list-style-type: none;
	text-align: center;

}
