{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class="row divider blue">
		<div class="col-md-12"></div>
</div>	
	<div class="row banner menu">
		<div class="col-md-11 col-md-offset-1 padding-none">
		<h3>Are you sure you want to delete {{category.name}}?</h3>
	</div>
</div>
<br><br>


<form action="#" method="POST">

	<button type="submit" class="btn btn-danger" id="submit" type="submit">
		<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>Delete</button>
	


	
	
	<a href="{{url_for('showCategories')}}">
		<button class="btn btn-info" type="button">
			<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Cancel
		</button>
	
	</a>
	
</form>

{% endblock %}