{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

	<div class="row divider green">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>{{category.name}}

			</h1>
		</div>
	</div>




	<div class="col-md-7"></div>
</div>

	{% for item in items %}
	
		<div class="row">
	<a href="{{url_for('showMenu', category_id = category.id)}}">
				<div class="col-md-2"></div>
				<div class="col-md-7 menu-list">

					<h2>{{item.name}}</h2>
					<br>
					<h3>{{item.description}}</h3>

			</div>

	<div class="row padding-top padding-bottom">
	
			
		
	<div class="editdeletepane"></div>	
	<a href="{{url_for('editMenuItem', category_id = category.id, menu_id=item.id)}}">Edit</a>


	<a href="{{url_for('deleteMenuItem', category_id = category.id, menu_id=item.id)}}">Delete</a>
	</div>



		<div class="col-md-1"></div>
		</div>
	</a>
	<br>
	{% endfor %}


	<div class="row padding-top padding-bottom">
	<div class="col-md-1"></div>
	<div class="col-md-11 padding-none">
		
		<a href="{{url_for('newMenuItem', category_id = category.id)}}">
			<button class="btn btn-default" id="new-menu-item">
				<span class="glyphicon glyphicon-glass" aria-hidden="true"></span>Add Item
			</button>
		</a>

		
		

	</div>



<div class='flash'>
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			<ul>
			{% for message in messages %}
				<li><strong>{{message}}</strong></li>
			{% endfor %}
			</ul>
			{% endif %}
	{% endwith %}
</div>


{% endblock %}
